<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Restorasyon ve Yeniden İnşa | ArchitectureSite</title>

    <meta name="description" content="ArchitectureSite - Your Architecture" />
    <meta name="author" content="Yunus Emre Gül" />
    <meta
      name="keywords"
      content="interrior architecture,architecture,mimarlik, ic mimarlik"
    />

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- Fonts -->
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
    />

    <!-- Favicon
    ================================================== -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/img/favicon.png"
    />

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link href="/assets/css/responsive.css" rel="stylesheet" />
    <link href="/assets/css/colors.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="portfolio">
    <header id="masthead" class="site-header site-header-fill">
      <nav id="primary-navigation" class="site-navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="/index.html" class="site-title yellow-text"
              >Architecture<span class="white-text">Site</span></a
            >
          </div>
          <!-- /.navbar-header -->

          <div class="main-menu" id="perfect-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="/index.html">Ana Sayfa</a></li>
              <li><a href="/misyon-vizyon.html">Misyon-Vizyon</a></li>
              <li class="dropdown">
                <a
                  href="/birimlerimiz.html"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  aria-expanded="false"
                  >Birimlerimiz
                  <i class="fa fa-angle-down hidden-xs" aria-hidden="true"></i
                ></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/Views/birimler-alt/tasarim-planlama.html"
                      >Tasarım ve Planlama Birimi</a
                    >
                  </li>
                  <li>
                    <a href="/Views/birimler-alt/projeKoordinasyon.html"
                      >Proje Yönetimi ve Koordinasyon Birimi</a
                    >
                  </li>
                  <li>
                    <a href="/Views/birimler-alt/insaatUygulama.html"
                      >İnşaat ve Uygulama Birimi</a
                    >
                  </li>
                  <li>
                    <a href="/Views/birimler-alt/pazarlama.html"
                      >Pazarlama ve İletişim Birimi</a
                    >
                  </li>
                  <li>
                    <a href="/Views/birimler-alt/insankaynaklari.html"
                      >İnsan Kaynakları ve Eğitim Birimi</a
                    >
                  </li>
                </ul>
                <!-- /.dropdown-menu -->
              </li>
              <!-- /.dropdown -->
              <li class="dropdown">
                <a
                  href="/hizmetlerimiz.html"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  aria-expanded="false"
                  >Hizmetlerimiz
                  <i class="fa fa-angle-down hidden-xs" aria-hidden="true"></i
                ></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/Views/hizmetler-alt/ic-mimarlik.html"
                      >İç Mimarlık</a
                    >
                  </li>
                  <li>
                    <a href="/Views/hizmetler-alt/mimarlik.html">Mimarlık</a>
                  </li>
                  <li>
                    <a href="/Views/hizmetler-alt/projelerimiz.html"
                      >Projelerimiz</a
                    >
                  </li>
                </ul>
                <!-- /.dropdown-menu -->
              </li>
              <!-- /.dropdown -->
              <li><a href="/iletisim.html">İletişim</a></li>
            </ul>
            <!-- /.navbar-nav -->
          </div>
          <!-- /.navbar-collapse -->
        </div>
      </nav>
      <!-- /.site-navigation -->
    </header>
    <!-- /#masthead -->

    <main id="main" class="site-main">
      <section class="site-section-small section-blog-post">
        <div class="container">
          <div class="text-center">
            <h1 class="section-title-big">Restorasyon ve Yeniden İnşa</h1>

            <p class="section-text">
              Restorasyon ve Yeniden İnşa birimimiz, geçmişin izlerini koruyarak
              ve modern standartları göz önünde bulundurarak, tarihi binaları
              özenle restore edip yeniden inşa ediyor. Her proje, mimari mirası
              yaşatma sorumluluğuyla, estetik ve fonksiyonelliği bir araya
              getirerek, geçmişi günümüzle buluşturmayı amaçlıyoruz. Tarihi
              dokuya saygı ve çağdaş konforu birleştirerek, binaların sadece
              geçmişin değil, aynı zamanda geleceğin de bir parçası olmasını
              sağlıyoruz.
            </p>
            <!-- /.section-text -->
          </div>
          <!-- /.text-center -->

          <ol class="breadcrumb">
            <li><a href="/index.html">Ana Sayfa</a></li>
            <li>
              <a href="/hizmetlerimiz.html">Hizmetlerimiz</a>
            </li>
            <li>
              <a href="/Views/hizmetler-alt/mimarlik.html"
                >Mimarlık Hizmetlerimiz</a
              >
            </li>
            <li class="active">Restorasyon ve Yeniden İnşa</li>
          </ol>
          <!-- /.breadcrumb -->

          <div class="row">
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-12">
                  <img
                    class="img-carousel post-img"
                    src="/assets/img/restorasyon.jpg"
                    alt="Restorasyon Resmi"
                  />

                  <div class="post-content">
                    <h2 class="post-title">
                      Tarihi Mirası Yeniden Hayata Geçiriyoruz: Restorasyon ve
                      Yeniden İnşa Sanatıyla Geçmişi Gelecekle Buluşturuyoruz!
                    </h2>

                    <!-- /.post-meta -->

                    <p class="section-text">
                      Restorasyon ve Yeniden İnşa birimimiz, tarihi ve kültürel
                      değere sahip binaları koruma ve onarma konusundaki
                      uzmanlığıyla öne çıkar. Bu birim, mimari mirasın korunması
                      amacıyla eski yapıları hassas bir şekilde restore etmekle
                      kalmaz, aynı zamanda modern gereksinimlere uygun hale
                      getirerek işlevselliklerini artırır. Tarihi dokuyu
                      bozmadan, orijinal özellikleri koruma prensibiyle
                      çalışarak, geçmişin izlerini geleceğe taşıma sorumluluğunu
                      üstleniriz. Restorasyon projelerimizde, uzman ekiplerimiz
                      tarihi belgeleri inceleyerek, orijinal malzeme ve
                      teknikleri belirler ve bu doğrultuda detaylı restorasyon
                      planları oluşturur. Aynı zamanda, binaların enerji
                      verimliliğini artırmak, güvenlik standartlarını sağlamak
                      ve modern konforu sunmak adına gerekli yeniden inşa
                      çalışmalarını gerçekleştiririz. Her restorasyon ve yeniden
                      inşa projesinde, mimari mirası koruma sorumluluğu ile
                      güncel konfor ve güvenlik standartlarını birleştirerek,
                      geçmişten günümüze köprü kurarız.
                    </p>
                  </div>
                  <!-- /.post-content -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- /.section-blog-post -->
      <section
        class="site-section-small section-work-with-us yellow-bg text-center"
      >
        <div class="container">
          <p class="section-title-small white-text mb-50">
            Bir araya gelmek başlangıçtır, bir arada durabilmek ilerlemedir,
            birlikte çalışmak başarıdır.
          </p>
          <a class="btn" href="#">Bizimle Çalışın</a>
        </div>
      </section>
      <!-- /.section-work-with-us -->

      <section class="social-networks">
        <div class="container-fluid">
          <div class="row">
            <a class="white-text black-bg twitter-bg" href="#"
              ><i class="fa fa-twitter" aria-hidden="true"></i
            ></a>
            <a class="white-text gray-bg facebook-bg" href="#"
              ><i class="fa fa-facebook" aria-hidden="true"></i
            ></a>
            <a class="white-text black-bg google-plus-bg" href="#"
              ><i class="fa fa-google-plus" aria-hidden="true"></i
            ></a>
            <a class="white-text gray-bg message-bg" href="#"
              ><i class="fa fa-envelope" aria-hidden="true"></i
            ></a>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.social-networks -->
    </main>
    <!-- /.site-main -->

    <footer id="colophon" class="site-footer">
      <div class="container">
        <div class="email">
          <a href="mailto:hello@ArchitectureSite.com"
            >hello@ArchitectureSite.com</a
          >
        </div>
        <!-- /.email -->

        <div class="row">
          <div class="col-md-3 col-xs-6">
            <div class="mb-xs-20">
              <a href="/index.html" class="site-title yellow-text"
                >ARCHITECTURE<span>SITE</span></a
              >
              <p class="mb-0">
                Her Detayda Mükemmelliği Arayarak, Mimari Zenginliği Yaşamınıza
                Taşıyoruz.
              </p>
            </div>
          </div>

          <div class="col-md-3 col-xs-6">
            <div class="mb-xs-20">
              <h4 class="small-title">İletişim</h4>
              <ul class="list-unstyled">
                <li>Phone: <a href="tel:+15417543010">+1-541-754-3010</a></li>
                <li>
                  Email:
                  <a href="mailto:hello@ArchitectureSite.com"
                    >hello@ArchitectureSite.com</a
                  >
                </li>
                <li>Fax: <a href="tel:+15417543010">+1-541-754-3010</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-3 col-xs-6">
            <div class="mb-xs-20">
              <h4 class="small-title">Sayfalar</h4>
              <ul class="list-unstyled">
                <li><a href="/misyon-vizyon.html">Hakkımızda</a></li>
                <li><a href="/hizmetlerimiz.html">Brimlerimiz</a></li>
                <li><a href="/iletisim.html">İletişim</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-3 col-xs-6">
            <div class="mb-xs-20">
              <h4 class="small-title">Konum</h4>
              <ul class="list-unstyled">
                <li>ArchitectureSite</li>
                <li>848 My Street,</li>
                <li>CA 94544</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="copyright">
        <p>
          &copy; 2023 ArchitectureSite | Made by
          <a href="#" class="yellow-text">Yunus Emre Gül</a>
        </p>
      </div>
      <!-- /.copyright -->
    </footer>
    <!-- /.site-footer -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.slicknav.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/touchswipe.min.js"></script>
    <script src="/assets/js/skrollr.min.js"></script>
    <script src="/assets/js/jquery.countTo.min.js"></script>
    <script src="/assets/js/script.js"></script>
  </body>
</html>
